/* for small devices  */
@media screen and (max-width:576px) {
    header .content {
        flex-direction: column;
    }

    header .content .text {
        max-width: 400px;
    }

    header .content .text h1 {
        font-size: 2.5rem;
    }

    /* about section  */
    .about .content {
        flex-direction: column;
        gap: 50px;
    }

    .about .content .text {
        max-width: 100%;
    }

    /* recipies section  */
    .recipy .container {
        grid-template-columns: repeat(1, 1fr);
    }
}



/* for medium devices  */
@media screen and (min-width:576px) and (max-width:992px) {
    header .content {
        flex-direction: column;
    }

    header .content .text {
        max-width: 800px;
    }

    /* about section  */
    .about .content {
        flex-direction: column;
        gap: 50px;
    }

    .about .content .text {
        max-width: 90%;
    }

    /* recipies section  */
    .recipy .container {
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
        padding: 30px;
    }


}